d/* Set padding to keep content from hitting the edges */
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/* Set width on the form input elements since they're 100% wide by default */
/*Bootstrap overrides*/
/*Page Specific*/
body {
  padding-top: 50px;
  padding-bottom: 100px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    min-height: 700px;
}
.dl-horizontal dt {
  white-space: normal;
}
input {
  max-width: 280px;
}
select {
  max-width: 280px;
}
textarea {
  max-width: 280px;
}
.field-validation-error {
  color: red;
}
.input-validation-error {
  border: 2px solid red;
}
.validation-summary-errors {
  color: red;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 30px;
  font-style: Verdana;
  line-height: 20px;
}
.navbar-inverse {
  background-color: #ffb300;
  border-color: #e6e6e6;
}
.navbar-inverse .navbar-nav > .open > a {
  color: #333333;
  background-color: #d69807;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  color: #333333;
  background-color: #d69807;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #333333;
  background-color: #d69807;
}
.navbar-inverse .notifications {
  position: relative;
  padding-top: 3px;
}
.navbar-inverse .notifications .badge {
  position: absolute;
  top: 6px;
  right: -1px;
}
.form-group {
  margin-bottom: 20px;
}
h2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 60px;
}
label {
  font-weight: normal;
  font-size: 17px;
}
.form-control {
    
}
.form-textarea {
    min-width: 100%;
}
.textarea {
  min-height: 200px;
  height: 700px;
  width: 900px;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  float: left;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
textarea.form-control {
  position: relative;
  height: 300px;
  font-size: 20px;
}
.dropdown-item {
  display: block;
  width: 190px;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #6884a0;
}
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #6884a0;
}
.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}
.alert-info {
  color: #ffffff;
  background-color: #27aee2;
  border-color: #40b5e3;
}
.inspections {
    padding-left: 0;
}
.inspections > li {
  position: relative;
  list-style-type: none;
  padding-right: 20px;
  padding: 10px 0px 70px 30px;
  box-shadow: 1px 2px 5px grey;
  width: 290px;
  height: 40px;
  margin-top:20px;
  margin-bottom:20px;
}
.inspections > li .details {
  position: absolute;
  top: 10px;
  left: 105px;
}
.inspections > li .details .inspector {
  display: block;
}
.inspections > li .details .organization {
  display: block;
}
.inspections > li .date {
  color: white;
  background-color: #e65353;
  text-align: center;
  width: 60px;
  border-radius: 8px;
}
.inspections > li .date .day {
  padding: 6px 12px;
  color: #212529;
  background-color: #e7e7e7;
  text-align: center;
  width: 60px;
}
.inspections > li .date .month {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  width: 60px;
  padding: 2px 6px;
}
.information {
  position: relative;
  list-style-type: none;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-right: 130px;
}
.information .userDetails {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-top: 30px;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 40px;
  padding-left: 10px;
  font-size: 15px;
  width: 255px;
  height: 300px;
  box-shadow: 1px 2px 5px grey;
}
.information .image {
  width: 130px;
  margin-left: 50px;
  padding-bottom: 20px;
  padding-left: 0px;
}
.postInformation {
    position: relative;
    margin-left: 300px;
    margin-top: 70px;
    padding-bottom: 400px;
    box-shadow: 1px 2px 5px grey;
    overflow: hidden;
    margin-top: -10px;
}
.postInformation .postDetails {
  padding: 20px 0px 0px 10px;
}
.postDetails {
    margin-top: 70px;
}
.separator {
    margin-right: 10px;
    border: 1px solid;
}
.description {
  word-wrap: break-word;
  padding-left: 10px;
  padding-right: 10px;
}
.comments {
  position: relative;
  margin-left: 300px;
  padding-top: 10px;
  padding-left: 0px;
  padding-bottom: 100px;
  margin-bottom: 50px;
  display: inline-block;
  word-wrap: break-word;
}
.eachComment {
  box-shadow: 1px 2px 5px grey;
  height: 100px;
  width: 800px;
  word-wrap: break-word;
  overflow: hidden;
  padding-bottom: 30px;
}
* {
  margin: 0;
}
.container body-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.commentSection {
  position: relative;
  height: 130px;
  padding-left: 100px;
}
.commentBox {
  position: absolute;
  min-width: 300px;
  left: 520px;
  width: 200px;
  height: 50px;
}
.submitComment {
  margin-left: 155px;
}
.posterName {
  position: absolute;
  padding-top: 20px;
  padding-left: 20px;
}
.posterComment {
  position: absolute;
  padding-top: 10px;
  padding-left: 240px;
  word-wrap: break-word;
  height: 90px;
  overflow: auto;
  width: 100%;
}

.btn {
  padding: 9px 12px 7px;
  border-width: 0 1px 4px 1px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.btnEdit {
  padding-left: 0px;
  word-break: normal;
}
.btnSubmit {
    padding-left: 210px;
}
.inspectionView {
  position: relative;
  word-wrap: break-word;
  overflow: auto;
  box-shadow: 1px 2px 5px grey;
}
.inspectionInfo {
  padding: 20px;
}
.inspectionDetails {
  padding: 20px 20px 50%;
}
ul.notifications {
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
  max-height:400px;

}
ul.notifications > li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;

}
ul.notifications > li:last-child {
  border-bottom: none;
}
ul.notifications .highlight {
  font-weight: bold;
}

.footer-universal {
    background-color: #9faab4;
    width: 100%;
    bottom: 0;
}
.container2 {
    display: flex;
    flex-direction: row;
    margin-top:50px;
}
.container-newsfeed {
    position: relative;
    width: 330px;
    margin-top: 30px;
    padding: 20px;
    overflow: auto;
    min-height: 500px;
    max-height: 500px;
    box-shadow: 1px 2px 5px grey;
}

.container-newsfeed2 {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    width: 460px;
    margin-top: 15px;
    padding: 20px;
    overflow: auto;
    min-height: 500px;
    max-height: 100%;
    box-shadow: 1px 2px 5px grey;
    align-items:center;
}
.container-newsfeed3 {
    position: relative;
    width: 330px;
    margin-top: 30px;
    max-height: 400px;
    padding: 20px;
    overflow: auto;
    box-shadow: 1px 2px 5px grey;
}
.profImage{
    width: 150px;
    margin-left:20%;
}
.userInfo{
    margin-top:30px;
    list-style:none;    
}
.userInfo-list{
    margin-top:5px;
}
.modal-title{
    font-size:20px;
    margin-top:10px;
    text-align:center;
}
.modal-close {
    position:absolute;
    right:4%;
    top:3%;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 #ffffff;
    filter: alpha(opacity=20);
    opacity: 0.2
}
.modal-close:hover, .modal-close:focus
{
    color: #16181b;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5
}
button.modal-close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
}
.btn-modal{
    margin-left:70%;
}
.post-heading{
    font-style:italic;
    margin-left:30px;
    margin-top:10px;
}
.inspection-newsfeed{
    margin-top:2px;
}
.safety-news {
    list-style: none;
    padding-left:0;
}
.safety-news>li{
    box-shadow: 1px 2px 5px grey;
    padding:10px 15px 15px 15px;
}
.see-more{
    border-radius:20px 20px 20px 20px;
    margin-left:40%;
}
.edit-article {
    position:absolute;
    left:75%;
}
.view-article {
    position: absolute;
    left:78%;
}
.article-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom:15px;
}
.poster-information {
    box-shadow: 1px 2px 5px grey;
    margin-top:30px;
    padding: 5px 15px 15px 15px;
    position:relative;
    display:inline-block;
    margin-bottom: 20px;
}
.article {
    position: relative;
    width:60%;
    margin-top: 30px;
    margin-left: 20px;
    box-shadow: 1px 2px 5px grey;
    padding: 5px 15px 15px 15px;
}
.btn-delete{
    position:absolute;
    left:93%;
    padding: 1px 1px 1px 1px;
}
.btn-edit {
    position: absolute;
    left: 88%;
    padding: 1px 1px 1px 1px;
}
.article-buttons{
    position:relative;
}
.like-button{
    margin-left:85%;
    position:absolute;
}
.comment-button {
    margin-left: 58%;
}
.btn-comment:hover{
    background-color:#40b5e3;
    color:aliceblue;
    outline:none;
}
.btn-like:hover {
    background-color: #40b5e3;
    color: aliceblue;
    outline: none;
}
.like-count {
    margin-top:10px;
    position: absolute;
    color:#ffb300;
}
.comment-section {
    display:none;
    box-shadow: 1px 2px 5px grey;
    padding: 5px 15px 15px 15px;
    min-height: 150px;
    max-height: 200px;
    width:100%;
    position:relative;
    overflow-y:auto;
    margin-bottom: 10px;
    margin-top:10px;
}
.front-page-gif {
    height:340px; 
    width:400px;
}
.comment-info{
    list-style:none;
    position:absolute;
    margin-left:10px;
}

.comment-image {
    width: 50px;
    height: 50px;
    position:absolute;
    right:90%;
}
.comment-content {
    font-style:italic;
}
.comment-header{
    margin-bottom:2px;
}
.comment-area {
    margin: 0px;
    height: 6em;
    min-width: 350px;
    position:relative;
    font-size: 15px;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.btn-post-comment{
    position:relative;
    left:83%;
}
.comment-box {
    margin-left: 28%;
    margin-top: 10px;
    margin-bottom:20px;
    width: 57.5%;
    position:relative;
    box-shadow: 1px 2px 5px grey;
    padding: 10px 10px 15px 15px;
}
.btn-delete-comment {
    margin-left: 89.6%;
    position: absolute;
    padding: 1px 1px 1px 1px;
}
.btn-edit-comment {
    margin-left: 84.5%;
    position:absolute;
    padding: 1px 1px 1px 1px;
}
.edit-button{
    color:white;
    text-decoration:none;
}
.edit-button:hover{
    text-decoration:none;
    color:white;
}
.form-edit-comment {
    min-width: 50%;
    margin-bottom:10px;
}
.btn-save-comment{
    margin-left:40%;
}
.edit-comment-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.btn-post-xl-comment{
    padding:10px 255px;
    margin-left:320px;
    position:absolute;
    font-size:20px;
    margin-bottom:50px;
}