@model IEnumerable<SafetyBoard.Models.Posting>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Add New Post","PostingForm","Posting", new { @class = "btn btn-primary" })
<br />
<br />
<table id="postings" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Organization</th>
            <th>Posting</th>
            <th>Safety Category</th>
            <th>Time Posted</th>
            <th>Post Details</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts{
    <script>
        //Get data from the table
        $(document).ready(function () {
            var table = $("#postings").DataTable({
                ajax: {
                    url:"/api/posting",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "user.email"
                    },
                    {
                        data: "user.organization.name"
                    },
                    {
                        data: "title",
                    },
                    {
                        data: "postingType.safetyCategory"
                    },
                    {
                        data: "timePosted",
                        render: function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return (month.length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a href='/posting/details/" + data + "' > " + 'Details' + "</a>"
                        }
                    }
                ]
                   
                    
            });
            
        });



    </script>

    }
