@model IEnumerable<SafetyBoard.Models.ViewModel.UserViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User List</h2>

<table id="users" class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>Email</th>
            <th>Drivers License #</th>
            <th>Roles</th>
            <th>Contact Number</th>
        </tr>
    </thead>
        @foreach (var user in Model.ToList())
        {

            <tr>
                <td>@user.Email</td>
                <td>@user.DriversLicense</td>
                @foreach (var role in user.Roles)
                {
                <td> @role </td>
                }
                <td>@user.PhoneNumber</td>
        </tr>
        }
</table>
@section scripts
    {
    <script>
        $(document).ready(function () {
            var table = $("#users").DataTable({
                //will add more to it. 
            })
        });


    </script>
    }

