@model IEnumerable<SafetyBoard.Models.User>
@{
    ViewBag.Title = "UserView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

    <table id="users" class="table	table-bordered	table-hover">
        <thead>
            <tr>
                <th>Users</th>
                <th>Organization</th>
                <th>User Type</th>
                <th>Date Registered</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>

@section scripts
    
    
    {
    <script>
        $(document).ready(function () {
            var tables = $("#users").DataTable({
                ajax: {
                    url: "/api/user",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, users) {
                            return "<a href='user/edit/" + users.id + "'>" + users.name + "</a>"
                        }
                    },
                    {
                        data:"organization"
                    },
                    {
                        data: "userType.title",

                    },
                    {
                        data: "dateRegistered",
                        render: function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return (month.length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-user-id='"+data+"'>Delete</button>"
                        }
                    }
                ]

            });

            $("#users").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure if wanted to delete this user?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/user/" + button.attr("data-user-id"),
                            method: "DELETE",
                            success: function () {
                                tables.row(button.parent("tr")).remove().draw();
                                tables.ajax.reload();
                            }
                        });
                    }
                });
            });
        });
    </script>
    }







