
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Add New Organization", "OrganizationForm", "Organization", new { @class = "btn btn-primary" })
<br />
<table id="organization" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Organization Id</th>
            <th>Organization Name</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $("#organization").DataTable({
                ajax: {
                    url: "/api/organization",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-organization-id='"+data+"'>Delete</button>"
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a href='/organization/edit/" + data + "'>Edit</a>"

                        }
                    }
                ]
            });

            $("#organization").on("click", ".js-delete", function () {
                var button = $(this)
                 bootbox.confirm("Are you sure you want to delete this Organization?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/organization/" + button.attr("data-organization-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parent("tr")).remove().draw();
                                table.ajax.reload();
                                toastr.success("Posting has been deleted successfully")
                            }
                        });
                    }
                })
            })
        });
    </script>
}
